.button{
    /* background-color: #f44336; */
    background-color: #f7345e;
    padding: 8px;
    border-radius: 8px;
    color:white;
    width:130px;
    border:lightgrey;
}
.names{
    color:white !important;
}

.work{
    /* background-color: #22514f; */
    background-color: black !important;
}

.photo img{
    height:300px;
    transition: all .2s ease;
}
.project-designing_shop{
    position: absolute;
    bottom: 0;
    margin: 0!important;
    /* padding: 10px 8px!important; */
    background-color: rgba(102,252,241,.75);
    /* min-width: 100%; */
    /* -webkit-transform: translateY(280px); */
    transform: translateY(280px);
    transition: all .5s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.photoData{
    position: relative;
    overflow: hidden;
}
.photoData:hover.photoShops{
    transform:scale(1.5);
    transition:transform 2s ease-in ;

}
.photoData:hover.designShop{
    display:block;
}
.designShop{
    position:absolute;
    top:0;
    display:none;
    background-color: rgba(255, 228, 196, 0.575);
}
.starts{
    /* border: 2px solid skyblue !important; */
}
.photoShops{
    overflow: hidden;
}
.photoShops img{
    transition: all 1.5s ease;
}
.photoShops:hover img{
    transform: scale(1.5);
}

.hitings{
    margin-top: 110px;
font-family: Montserrat;
/* font-style: normal; */
font-weight: 600;
font-size: 50px;

margin-bottom: 60px;
}